<!-- Remove the container if you want to extend the Footer to full width. -->
<div
	class="container-fluid-expand-md bg-dark ">
	<!-- Footer -->
	<footer
		class="text-center text-lg-start text-white">
		<!-- Grid container -->
		<div
			class=" container p-4 pb-0">
			<!-- Section: Links -->
			<section
				class="">
				<!--Grid row-->
				<div
					class="row">

					<!-- Grid column -->

					<hr
					class="w-100 clearfix d-md-none"/>


					<!-- Grid column -->
					<div class="paiementicon col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Achetez et payez en toute sécurité</h6>

						<!-- Paypal -->
						<a class="btn btn-primary btn-floating m-1" href="#!" role="button">
							<i class="fab fa-paypal"></i>
						</a>

						<!-- Mastercard -->
						<a class="btn btn-primary btn-floating m-1" href="#!" role="button">
							<i class="fa-brands fa-cc-mastercard"></i>
						</a>

						<!-- Visa -->
						<a class="btn btn-primary btn-floating m-1" href="#!" role="button">
							<i class="fa-brands fa-cc-visa"></i>
						</a>
						<h6 class="textepayer font-weight-bold">Réglez de manière sûre et sécurisée par Paypal,Mastercard ou Visa</h6>


					</div>

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Suis-nous!</h6>

						<!-- Facebook -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button">
							<i class="fab fa-facebook-f"></i>
						</a>

						<!-- Twitter -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button">
							<i class="fab fa-twitter"></i>
						</a>

						<!-- Google -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button">
							<i class="fab fa-google"></i>
						</a>

						<!-- Instagram -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button">
							<i class="fab fa-instagram"></i>
						</a>

						<!-- Linkedin -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<!-- Github -->
						<a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button">
							<i class="fab fa-github"></i>
						</a>
					</div>
					<!-- Grid column -->

					<hr
					class="w-100 clearfix d-md-none"/>

					<!-- Grid column -->
					<hr
					class="w-100 clearfix d-md-none"/>

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
						<p>
							<i class="fas fa-home mr-3"></i>
							Amiens 80000 FR</p>
						<p>
							<i class="fas fa-envelope mr-3"></i>
							cooche.aurelien80@gmail.com</p>
						<p>
							<i class="fas fa-phone mr-3"></i>
							+33 6 75 74 30 29</p>
					</div>
					<!-- Grid column -->
					<div class=" col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">
							Vos Avantages
						</h6>
							<ul>
								<li>Garantie 2 ans Green Village</li>
								<li>Garantie 30 jours satisfaits ou remboursé</li>
								<li>Énormément de stock</li>
								<li>Garantie satisfait ou remboursé</li>
							</ul>
					</div>

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">A propos de nous</h6>
						<p>
							<a class="text-white">CGV/Infos légales</a>
						</p>
						<p>
							<a class="text-white">Mentions Légales</a>
						</p>
						<p>
							<a class="text-white">Paramètres de confidentialité</a>
						</p>
						<p>
							<a class="text-white">Contrat général d'utilisation</a>
						</p>
					</div>
				</div>
				<!--Grid row-->
			</section>
			<!-- Section: Links -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
			© 2020 Copyright:
			<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>
<!-- End of .container -->
