{% extends "base.html.twig" %}

{% block title  %}
	GreenVillage - Acceuil
{% endblock %}


{% block body %}

      <article class="article1">
        <h3 id="Heb"><b>Voici  </b></h3>
        <div id="container3">
          <div class="bloc3a">
            <div class="card31">
              <div class="cardImg31"></div>
              <div class="cardText31">
                <h4><b>Auberge La Cannebière</b></h4>
                <p>Nuit à partir de <b>25€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star star-gray"></i></li>
                </ul>
              </div>
            </div>
            <div class="card32">
              <div class="cardImg32"></div>
              <div class="cardText32">
                <h4><b>Hôtel du port</b></h4>
                <p>Nuit à partir de <b>52€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="card33">
              <div class="cardImg33"></div>
              <div class="cardText33">
                <h4><b>Hôtel Les mouettes</b></h4>
                <p>Nuit à partir de <b>76€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star star-gray"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bloc3b">
            <div class="card34">
              <div class="cardImg34"></div>
              <div class="cardText34">
                <h4><b>Hôtel de la mer</b></h4>
                <p>Nuit à partir de <b>46€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star star-gray"></i></li>
                  <li><i class="fa-solid fa-star star-gray"></i></li>
                </ul>
              </div>
            </div>
            <div class="card35">
              <div class="cardImg35"></div>
              <div class="cardText35">
                <h4><b>Auberge Le Panier</b></h4>
                <p>Nuit à partir de <b>23€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star star-gray"></i></li>
                </ul>
              </div>
            </div>
            <div class="card36">
              <div class="cardImg36"></div>
              <div class="cardText36">
                <h4><b>Hôtel chez Amina</b></h4>
                <p>Nuit à partir de <b>96€</b></p>
                <ul class="cardStar3">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <a class="afficher" href="#"><b>Afficher plus</b></a>
        </div>
      </article>



{% endblock %}
